:root {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Cormorant Garamond", serif;
  
  --color-sakura-light: #FFD1DC;
  --color-sakura-base: #FFB7C5;
  --color-sakura-deep: #FF69B4;
  --color-sakura-candy: #d8006c;
  --color-forest-dark: #2D5A27;
  --color-forest-light: #4A7C44;
  --color-wood: #8B4513;
  --color-wood2: #542b0e;
  --color-cream: #FDF5E6;
}

